           #amiibos {
            background: rgb(9,4,11);
            background: radial-gradient(circle, rgba(9,4,11,1) 0%, rgba(84,92,155,1) 100%);            }

           .amiibo {
               cursor: pointer;
               transition: all ease-out 0.2s;
           }

           .amiibo:hover {
               transform: scale(1.05);
           }

           .amiibo-name {
  /* Agregamos propiedades para que los spam se muestren abajo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  /* Ajustamos el margen inferior para separar los elementos */
  margin-bottom: 10px;
}

.p-1 {
  /* Ajustamos el margen superior para separar los elementos */
  margin-top: 10px;
}

/* Centramos las imágenes */
img {
  display: block;
  margin: 0 auto;
}


           #Spotify {
            background-color:  #232323; /* negro */
            color:#F2D9E6; /* rosa */
            text-align: center;
         }  
         #BPM{
          background-color: #ff2d55;
          color: black;
          text-align: center;
         }
         .custom-button {
          background-color: black;
          border: none;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
        }
        .custom-button {
          background-color: pink;
          border: none;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
        }
                
          #back-to-top {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: wheat;
            color: #ff2d55;
            cursor: pointer;
            padding: 35px;
            border-radius: 50%; /* Agregamos esta propiedad para darle forma redonda */
          }
    
          #back-to-top:hover {
            background-color: gray;
          }    
          
          #btn{
            align-items: center;
          }
          
          .btn-purple {
            background-color: purple;
            border-color: purple;
          }
          
#biografia{
  background-color:pink;
}
#biogr{
  background-color: black;
}
.logo-blackpink {
  float: left;
  margin-right: 10px;
  width: 500px; /* Ajusta el ancho de la imagen del logo */
}

.texto-grande {
  font-size: 20px; /* Ajusta el tamaño de la fuente del texto */
}

.album-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}

.album-container iframe {
  margin-bottom: 10px;
}

.text-pink {
  color: pink;
}